* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box4 box4 box5"
    "box6 box7 box7 box5"
    "box8 box9 box10 box10";
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
}
.box9 {
  grid-area: box9;
}
.box10 {
  grid-area: box10;
}
