/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-size: 12px;
  color: #9fa3a7;
  line-height: 20px;
  letter-spacing: 2px;
}
.text-center {
  text-align: center;
}

.boxes {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas:
    "box1 box1 box2 box2"
    "box1 box1 box2 box2"
    "box3 box4 box4 box5"
    "box3 box4 box4 box5"
    "box6 box7 box7 box5"
    "box6 box7 box7 box5"
    "box8 box9 box10 box10";
}

.box1 {
  display: grid;
  grid-area: box1;
  align-items: center;
  padding: 2rem 4rem 0;
  grid-template-columns: 1fr 1fr;
}

.three-d {
  width: 80%;
}

.three-d h3 {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: Arvo, sans-serif;
}

.three-d p {
  font-size: 14px;
  color: #9fa3a7;
  line-height: 25px;
}

.box2 {
  display: flex;
  grid-area: box2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f8f9;
}

.box2 h2 {
  margin: 1rem 0;
  font-size: 48px;
  max-width: 550px;
  font-weight: 400;
  line-height: 60px;
  font-family: Arvo, sans-serif;
}

.box2 a {
  font-size: 14px;
  color: #27b9c2;
}

.box3 {
  display: flex;
  grid-area: box3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f05638;
}

.box3 h4 {
  color: #fff;
  display: block;
  font-size: 22px;
  max-width: 230px;
  line-height: 32px;
  font-family: Arvo, sans-serif;
}

.box3 a {
  font-size: 12px;
  color: #ffc80a;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  font-size: 14px;
}

.box4 {
  display: grid;
  grid-area: box4;
  align-self: end;
  grid-column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

.hardly-month {
  max-width: 180px;
  margin-left: 100px;
}

.hardly-month img {
  left: -160%;
  z-index: -1;
  position: relative;
}

.apple-download {
  margin-right: 3.5rem;
}

.apple-download p {
  font-size: 14px;
  color: #9fa3a7;
  line-height: 28px;
}

.apple-download a {
  color: #27b9c2;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.box4 h3 {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: Arvo, sans-serif;
}

.box5 {
  color: #fff;
  display: flex;
  grid-area: box5;
  align-items: center;
  /* padding: 1rem 0 4rem; */
  flex-direction: column;
  justify-content: center;
  background-color: #8f76bc;
}

.icloud-image {
  width: 373px;
  height: 373px;
  padding: 2rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8166b0;
}

.icloud-image img {
  margin: 1rem 0;
}

.popular-wrapper {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 13px;
  line-height: 23px;
  border-radius: 60px;
  align-items: center;
  letter-spacing: 2.4px;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.08);
}

.box5 h5 {
  color: #fff;
}

.box5 p {
  width: 80%;
  max-width: 290px;
  line-height: 26px;
  padding: 1rem 2rem;
}

.box5 h2 {
  font-size: 32px;
  margin-top: 20px;
  line-height: 36px;
  font-family: Arvo, sans-serif;
}

.box5 a {
  color: #000;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 26px;
  padding: 14px 28px;
  border-radius: 50px;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffc80a;
}

.box6 {
  padding: 2rem;
  display: flex;
  grid-area: box6;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box6 img {
  left: -10%;
  position: relative;
}

.box6 h3 {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: Arvo, sans-serif;
}

.box6 a {
  font-size: 12px;
  color: #27b9c2;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
}
.box9 {
  grid-area: box9;
}
.box10 {
  grid-area: box10;
}
