/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: Arvo, sans-serif;
}
h5 {
  font-size: 12px;
  color: #9fa3a7;
  line-height: 20px;
  letter-spacing: 2px;
}
.text-center {
  text-align: center;
}

.boxes {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas:
    "box1 box1 box2 box2"
    "box1 box1 box2 box2"
    "box3 box4 box4 box5"
    "box3 box4 box4 box5"
    "box6 box7 box7 box5"
    "box6 box7 box7 box5"
    "box8 box9 box10 box10";
}

.box1 {
  display: grid;
  grid-area: box1;
  align-items: center;
  padding: 2rem 4rem 0;
  grid-template-columns: 1fr 1fr;
}

.three-d {
  width: 80%;
}

.three-d p {
  font-size: 14px;
  color: #9fa3a7;
  line-height: 25px;
}

.box2 {
  display: flex;
  grid-area: box2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f8f9;
}

.box2 h2 {
  margin: 1rem 0;
  font-size: 48px;
  max-width: 550px;
  font-weight: 400;
  line-height: 60px;
  font-family: Arvo, sans-serif;
}

.box2 a {
  font-size: 14px;
  color: #27b9c2;
}

.box3 {
  display: flex;
  grid-area: box3;
  margin-top: -5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f05638;
}

.box3 h3 {
  color: #fff;
  max-width: 230px;
  font-weight: bold;
}

.box3 a {
  font-size: 12px;
  color: #ffc80a;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  font-size: 14px;
}

.box4 {
  display: grid;
  grid-area: box4;
  align-self: end;
  grid-column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

.hardly-month {
  max-width: 180px;
  margin-left: 100px;
}

.hardly-month img {
  left: -160%;
  z-index: -1;
  position: relative;
}

.apple-download {
  margin-right: 3.5rem;
}

.apple-download p {
  font-size: 14px;
  color: #9fa3a7;
  line-height: 28px;
}

.apple-download a {
  color: #27b9c2;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.box5 {
  color: #fff;
  display: flex;
  grid-area: box5;
  align-items: center;
  padding: 1rem 0 4rem;
  flex-direction: column;
  justify-content: center;
  background-color: #8f76bc;
}

.icloud-image {
  width: 373px;
  height: 373px;
  padding: 2rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8166b0;
}

.icloud-image img {
  margin: 1rem 0;
}

.popular-wrapper {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 13px;
  line-height: 23px;
  border-radius: 60px;
  align-items: center;
  letter-spacing: 2.4px;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.08);
}

.box5 h5 {
  color: #fff;
}

.box5 p {
  width: 80%;
  max-width: 290px;
  line-height: 26px;
  padding: 1rem 2rem;
}

.box5 h2 {
  font-size: 32px;
  margin-top: 20px;
  line-height: 36px;
  font-family: Arvo, sans-serif;
}

.box5 a {
  color: #000;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 26px;
  padding: 14px 28px;
  border-radius: 50px;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffc80a;
}

.box6 {
  padding: 2rem;
  display: flex;
  grid-area: box6;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box6 img {
  left: -10%;
  position: relative;
}

.box6 a {
  font-size: 12px;
  color: #27b9c2;
  margin-top: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.box7 {
  grid-area: box7;
  position: relative;
  background-color: #93b6b7;
}

.best-choise {
  top: 20px;
  left: 30px;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  padding-left: 10px;
  border-radius: 5px;
  padding-right: 10px;
  letter-spacing: 2px;
  background-color: #fa684f;
}

.box7 h3 {
  margin: auto;
  color: #fff;
  max-width: 280px;
  padding-top: 51px;
  padding-bottom: 31px;
}

.box7 img {
  left: -7%;
  width: 90%;
  position: relative;
}

.box8 {
  display: flex;
  grid-area: box8;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #38d5f4;
}

.twitter {
  width: 240px;
  height: 240px;
  display: flex;
  padding-left: 34px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  padding-right: 34px;
  flex-direction: column;
  justify-content: center;
  background-color: #35cfed;
}

.twitter h3 {
  color: #fff;
}

.box9 {
  display: flex;
  grid-area: box9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box9 h3 {
  width: 70%;
}

.popular-green {
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 10px;
  border-radius: 5px;
  padding-right: 10px;
  letter-spacing: 2px;
  background-color: #7bc424;
}

.box10 {
  color: #fff;
  display: flex;
  overflow: hidden;
  grid-area: box10;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
}

.tv img {
  left: -20%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.box10 h3 {
  width: 44%;
}

.box8,
.box9,
.box10 {
  height: 200px;
}
